*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#121212;
    color:white;
    font-family:Arial,sans-serif;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:20px 40px;

    background:rgba(255,255,255,0.05);

    backdrop-filter:blur(10px);
}

nav ul{
    display:flex;
    list-style:none;
    gap:20px;
}

nav a{
    color:white;
    text-decoration:none;
}

.hero{
    height:90vh;

    display:flex;
    flex-direction:column;

    justify-content:center;
    align-items:center;

    text-align:center;
}

#time{
    font-size:4rem;
    color:#FFD166;
    margin-top:20px;
}

.hero p{
    margin-top:10px;
    color:#cccccc;
}
