*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
    min-height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    background:linear-gradient(
        135deg,
        #141E30,
        #243B55
    );

    color:white;
}

.container{
    width:90%;
    max-width:800px;
    text-align:center;
}

h1{
    font-size:3rem;
    margin-bottom:10px;
}

.subtitle{
    opacity:0.8;
    margin-bottom:30px;
}

.card{
    background:rgba(255,255,255,0.1);

    padding:30px;

    border-radius:20px;

    backdrop-filter:blur(10px);
}

#clock{
    font-size:2.5rem;
    margin:15px 0;
}
